
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sportify</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Sportify template project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap-4.1.2/bootstrap.min.css">
    <link href="~/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.3.4/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.3.4/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.3.4/animate.css">
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">

    <link rel="stylesheet" type="text/css" href="~/starcss/css/linearicons.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/nice-select.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/starcss/css/main.css">

</head>
<body>

    <div class="super_container">

        <!-- Header -->


        <header class="default-header">
            <div class="container">
                <div class="header-wrap">
                    <div class="header-top d-flex justify-content-between align-items-center">
                        <div class="logo">
                            <a href="index.html"><img src="~/starcss/img/logo.png" alt=""></a>
                        </div>
                        <div class="main-menubar d-flex align-items-center" style="padding-left : 800px">
                            <nav class="hide">
                                <a href="/Account/Login">Login</a>
                                <a href="/Account/Register">Register</a>
                              
                            </nav>
                            <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Menu -->

        <div class="menu">
            <div class="menu_door door_left"></div>
            <div class="menu_door door_right"></div>
            <div class="menu_content d-flex flex-column align-items-center justify-content-center">
                <div class="menu_close">close</div>
                <div class="menu_nav_container">
                    <nav class="menu_nav text-center">
                        <ul>
                            <li><a href="index.html">home</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="classes.html">classes</a></li>
                            <li><a href="blog.html">blog</a></li>
                            <li><a href="contact.html">contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="social menu_social">
                    <ul class="d-flex flex-row align-items-center justify-content-start">
                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>

        <!-- Home -->

        <div class="home">

            <!-- Slider -->
            <div class="home_slider_container">
                <div class="owl-carousel owl-theme home_slider">

                    <!-- Slide -->
                    <div class="slide">
                        <div class="background_image" style="background-image:url(/images/index.jpg)"></div>
                        <div class="home_slider_overlay"></div>
                        <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                            <div class="home_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_content active">
                                                <div class="home_subtitle">go to the gym now!</div>
                                                <div class="home_title">
                                                    <h1><span>never</span> limit</h1>
                                                    <h1>yourself</h1>
                                                </div>
                                                <div class="button home_button"><a href="#">read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="slide">
                        <div class="background_image" style="background-image:url(/images/index.jpg)"></div>
                        <div class="home_slider_overlay"></div>
                        <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                            <div class="home_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_content">
                                                <div class="home_subtitle">go to the gym now!</div>
                                                <div class="home_title">
                                                    <h1><span>never</span> limit</h1>
                                                    <h1>yourself</h1>
                                                </div>
                                                <div class="button home_button"><a href="#">read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slide -->
                    <div class="slide">
                        <div class="background_image" style="background-image:url(/images/index.jpg)"></div>
                        <div class="home_slider_overlay"></div>
                        <div class="slide_wrap d-flex flex-column align-items-start justify-content-center">
                            <div class="home_container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col">
                                            <div class="home_content">
                                                <div class="home_subtitle">go to the gym now!</div>
                                                <div class="home_title">
                                                    <h1><span>never</span> limit</h1>
                                                    <h1>yourself</h1>
                                                </div>
                                                <div class="button home_button"><a href="#">read more</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <!-- Intro -->

        <div class="intro">
            <div class="intro_boxes_wrap">
                <div class="d-flex flex-row align-items-start justify-content-start flex-wrap">

                    <!-- Intro Box -->
                    <div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="intro_box_icon"><img src="~/images/icon_1.svg" alt=""></div>
                        <div class="intro_box_title"><h3>aerobics program</h3></div>
                        <div class="intro_box_text">
                            <p>Aenean auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus.</p>
                        </div>
                    </div>

                    <!-- Intro Box -->
                    <div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="intro_box_icon"><img src="~/images/icon_2.svg" alt=""></div>
                        <div class="intro_box_title"><h3>train hard</h3></div>
                        <div class="intro_box_text">
                            <p>Sed porta vel lacus quis lacinia. Vestibulum nec justo lectus. In hac habitasse platea dictumst. Proin vulputate rhoncus nibh eu vehicula.Sed porta vel lacus quis lacinia.</p>
                        </div>
                    </div>

                    <!-- Intro Box -->
                    <div class="intro_box d-flex flex-column align-items-center justify-content-center text-center">
                        <div class="intro_box_icon"><img src="~/images/icon_3.svg" alt=""></div>
                        <div class="intro_box_title"><h3>basic program</h3></div>
                        <div class="intro_box_text">
                            <p>Aenean auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- About -->

        <div class="about">
            <div class="container">
                <div class="row">

                    <!-- About Content -->
                    <div class="col-lg-8">
                        <div class="about_content">
                            <div class="section_title_container">
                                <div class="section_subtitle">aerobics program</div>
                                <div class="section_title"><h1>about sportify</h1></div>
                            </div>
                            <div class="about_text">
                                <p>Aenean auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus. Sed porta vel lacus quis lacinia. Vestibulum nec justo lectus. In hac habitasse platea dictumst. Proin vulputate rhoncus nibh eu vehicula. Donec vitae laoreet quam, ac feugiat nibh. Aenean auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus.</p>
                            </div>
                            <div class="button about_button"><a href="#">read more</a></div>
                        </div>
                    </div>

                    <!-- About Image -->
                    <div class="col-lg-4">
                        <div class="about_image"><img src="~/images/about.png" alt=""></div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Quote -->

        <div class="quote">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="quote_content text-center">
                            <p>“Training gives us an outlet for suppressed energies created by stress and thus tones the spirit just as exercise conditions the body.”</p>
                        </div>
                        <div class="quote_author text-center">– Arnold Schwarzenegger</div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Classes -->

        <div class="classes">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="section_title_container text-center">
                            <div class="section_subtitle">our programs</div>
                            <div class="section_title"><h1>classes</h1></div>
                        </div>

                        <!-- Classes Slider -->
                        <div class="classes_slider_container">
                            <div class="owl-carousel owl-theme classes_slider">

                                <!-- Slide -->
                                <div>
                                    <div class="classes_slide_wrap">
                                        <div class="text-center">
                                            <div class="classes_title"><h3>aerobics</h3></div>
                                            <div class="classes_text">
                                                <p>Aenean auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus. Sed porta vel.</p>
                                            </div>
                                            <div class="class_image"><a href="#"><img src="~/images/instructor_1.jpg" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Slide -->
                                <div>
                                    <div class="classes_slide_wrap">
                                        <div class="text-center">
                                            <div class="classes_title"><h3>pilates</h3></div>
                                            <div class="classes_text">
                                                <p>Auctor nisl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus. Sed porta vel lacus quis.</p>
                                            </div>
                                            <div class="class_image"><a href="#"><img src="~/images/instructor_2.jpg" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Slide -->
                                <div>
                                    <div class="classes_slide_wrap">
                                        <div class="text-center">
                                            <div class="classes_title"><h3>yoga</h3></div>
                                            <div class="classes_text">
                                                <p>Nsl vitae auctor faucibus. Pellentesque imperdiet auctor eros, sit amet ornare mauris malesuada in. Duis rutrum nisi tempus finibus luctus. Sed porta vel lacus quis lacinia.</p>
                                            </div>
                                            <div class="class_image"><a href="#"><img src="~/images/instructor_3.jpg" alt=""></a></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pricing -->
        <!-- Footer -->

        <footer class="footer">
            <div class="footer_content">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="footer_logo text-center"><a href="#"><img src="~/images/logo_3.png" alt=""></a></div>
                        </div>
                    </div>
                    <div class="row footer_row">
                        <div class="col-lg-4 footer_col">
                            <div class="footer_item text-center">
                                <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                                    <div><img src="~/images/phone.png" alt=""></div>
                                </div>
                                <div class="footer_title">talk to us</div>
                                <div class="footer_list">
                                    <ul>
                                        <li>+34 5667 4332 244</li>
                                        <li>+224 667 889</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 footer_col">
                            <div class="footer_item text-center">
                                <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                                    <div><img src="~/images/mail.png" alt=""></div>
                                </div>
                                <div class="footer_title">e-mail</div>
                                <div class="footer_list">
                                    <ul>
                                        <li>Contact@sportify25.com</li>
                                        <li>office@sportify25.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 footer_col">
                            <div class="footer_item text-center">
                                <div class="footer_icon d-flex flex-column align-items-center justify-content-center ml-auto mr-auto">
                                    <div><img src="~/images/contact.png" alt=""></div>
                                </div>
                                <div class="footer_title">location</div>
                                <div class="footer_list">
                                    <ul>
                                        <li>MAin str. 25</li>
                                        <li>458811 CA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bar d-flex flex-row align-items-center justify-content-center">
                <div class="copyright">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/styles/bootstrap-4.1.2/popper.js"></script>
    <script src="~/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.3.4/owl.carousel.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
    <script src="~/plugins/progressbar/progressbar.min.js"></script>
    <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
    <script src="~/js/custom.js"></script>

    <script src="~/starcss/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/starcss/js/vendor/bootstrap.min.js"></script>
    <script src="~/starcss/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/starcss/js/owl.carousel.min.js"></script>
    <script src="~/starcss/js/jquery.nice-select.min.js"></script>
    <script src="~/starcss/js/jquery.magnific-popup.min.js"></script>
    <script src="~/starcss/js/main.js"></script>
</body>
</html>

