<div class="row">
    <div class="col-lg-3">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="~/Contentpro/images/icon/income-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Income</h6>
                        <h2 class="m-t-0 text-white">953,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="~/Contentpro/images/icon/expense-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Expense</h6>
                        <h2 class="m-t-0 text-white">236,000</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="~/Contentpro/images/icon/assets-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Assets</h6>
                        <h2 class="m-t-0 text-white">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><img src="~/Contentpro/images/icon/staff-w.png" alt="Income" /></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">Total Staff</h6>
                        <h2 class="m-t-0 text-white">987,563</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src="/Contentpro/images/big/img1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src="/Contentpro/images/big/img2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6">
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src="/Contentpro/images/big/img3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
    <!-- column -->
    <div class="col-lg-3 col-md-6 img-responsive">
        <!-- Card -->
        <div class="card">
            <img class="card-img-top img-responsive" src="/Contentpro/images/big/img4.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- Card -->
    </div>
    <!-- column -->
</div>